.Buttons {
    width: 269px;
    height: 50px;
    border-radius: 10px;
    border:3px solid deepskyblue;
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button {
    font-weight: 600;
    font-size: 15px;
    background-color: deepskyblue;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid deepskyblue;
    margin: 10px;
}