.Display {
    background-color: deepskyblue;
    width: 269px;
    height: 70px;
    border-radius: 10px;
    border:3px solid deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.Display.error {
    color: red;
}